.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 15%);
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
}

.detail-section {
    flex: 0 0 60%;
    margin-right: 15px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.detail-name {
    font-size: 50px;
    letter-spacing: 0.5rem;
}

.detail-role {
    font-size: 25px;
    letter-spacing: 0.1rem;
    margin-right: 10px;
}

.detail-about {
    text-align: end;
}

.detail-contact {
    display: flex;
    padding: 12px 0;
    margin-right: 10px;
}

.detail-contact-mail,
.detail-contact-linkedin {
    padding: 2px;
}

.detail-contact-mail > button,
.detail-contact-linkedin > button {
    border: solid 1px;
    font-size: 20px;
}

.detail-contact-mail > button {
    border-color: #b7562f;
    background: #b7562f;
}

.detail-contact-linkedin > button {
    border-color: #0e76a8;
    background: #0e76a8;
    font-weight: 700;
}

.image-corner {
    flex: 0 0 30%;
    display: inline-flex;
    justify-content: end;
}

.image-corner-img {
    height: 250px;
    width: 250px;
    border: solid 2px;
    border-radius: 50%;
}

.social-banner {
    flex: 0 0 100%;
    margin-top: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-banner>svg {
    flex: 0 0 5%;
    margin: 20px 5px;
}

@media (max-width: 800px) {
    .detail-section,
    .image-corner,
    .social-banner {
        flex: 0 0 100%;
        margin: auto;

        display: flex;
        justify-content: center;
    }

    .image-corner {
        order: 1;
    }

    .detail-section {
        order: 2;
        align-items: center;
    }

    .detail-about {
        text-align: center;
    }

    .social-banner {
        order: 3;
    }
}